h1 Типы корпоративных событий 
p Митапы, хакатоны, сообщества, завершающий триптих булщит бинго современного IT, компании мимикрируют под независимые сообщества, и с удовльствием собирают резюме в процессе проведения одного из выше перечисленных мероприятий. Чтобы отличать события созданные сообществом от событий проводимых корпорациями, нужно понимать цели для которых проводится эти мероприятия. 


h2 Публичный корпоратив
p Проведение мероприятия где выступают сотрудники организаци на которое вход доступен всем желающим.

h2 Реклама и PR
p Мероприятие на котором рекламируется продукт компании организатора мероприятия. 

h2 Фейкап
p Под видом митапа от какого либо сообщества скрывается обычный скрытый хайринг.

h2 Фейкатон
p Под видом хакатона скрывается обычный найм или попытка бесплатно получить решение проблем компании/продукта/команды.

